html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    letter-spacing:0;
    vertical-align:baseline;
    background:0 0;
    box-sizing:border-box
}
body{
    min-width:700px;
    background:#333;
    color:#444;
    font-family:futura-pt,newrodinpro-m;
    font-weight:400
}
a{
    text-decoration:under-line;
    color:#eee
}
a:hover{
    text-decoration:none;
    color:#333;
    background:#eee
}
ul{
    list-style-type:none
}
.cover{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center
}
.box{
    color:#eee
}
.box h2{
    padding:0 0 .5em;
    font-size:20pt;
    font-weight:400
}

img { width: 100px }
